<li class="gallery-list__item">
    <div data-filmId="{{id}}" class="gallery-list__card">
        <div class="gallery-list__poster">
            <img class="gallery-list__img" src="{{'https://image.tmdb.org/t/p/w500'+poster_path}}" alt="{{original_title}}" loading="lazy" />
        </div>

        <div class="gallery-list__description">
            <h2 class="gallery-list__titel">{{original_title}}</h2>
            <div class="gallery-list__info">

                <p class="gallery-list__genre">{{Genres}} | <span class="gallery-list__Year">{{Year}}</span> </p>
                <span class="{{vote_average}}">5.0</span>

            </div>
        </div>
    </div>
</li>
